# Built artifacts
**/build/
/captures

# Android Studio / IntelliJ
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/shelf/
/.idea/dbnavigator.xml
/.idea/deviceManager.xml
/.idea/planningMode.xml

# System files
.DS_Store
Thumbs.db

# External native builds
.externalNativeBuild
.cxx

# Local configuration
local.properties
